@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900,700italic,900italic,600italic,400italic,300italic,200italic,200);

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background:#eee;
  font-family:Helvetica,Arial;
  font-size:14px;
  margin: 0;
}

h3 {
  display: inline-block;
  color: #474d5e;
  font-weight: 600;
  line-height: 20px;
  margin: 20px;
}

p{
  position: relative;
  color: #474d5e;
  font-weight: 600;
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#about{
  position: relative;
  color: #474d5e;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

nav {
  overflow: hidden;
  box-sizing: content-box;
  position: relative;
  width: 100%;
  height: 60px;
  background: #4c5264;
  z-index: 10;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.load-contain {
  width: 1200px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-top: 14px;
  margin-right: 16px;
  background: url("../images/logo.png") center center no-repeat;
  background-size: 32px 32px;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav .navist{
  display: table;
  padding: 0;
  margin: 0;
  height: 60px;
}

nav .navist li {
  color: #fff;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
}

nav .navist .active {
  color: #fff;
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  display:block;
  width:100%;
  height:56px;
  border-bottom: 4px solid #FFF;
}

nav .navist li:after {
  display:block;
  width:100%;
  height:0px;
  content:" ";
  border-bottom: 4px solid #FFF;
  position: relative;
  top:10px;
}

nav .navist li:hover:after {
  -webkit-transform: translate(0px, -14px);
  transform: translate(0px, -14px);
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

nav .navist a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  display: inline-block;
  line-height: 60px;
  padding: 0 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #FFF;
  text-decoration: none;
}

.content {
  position: absolute;
  width: 100%;
  opacity: 1;
  -webkit-animation: fade 1s ease-in;
  animation: fade 1s ease-in;
}

@-webkit-keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.wp {
  background: url('../images/bg.jpg') 50% 50% repeat-y;
  height: 610px;
  -webkit-animation: loop 80s infinite alternate linear;
          animation: loop 80s infinite alternate linear;
}

@-webkit-keyframes loop {
  0% {background-position: 50% 50%;}
  100% {background-position: 50% 700%;}
}

@keyframes loop {
  0% {background-position: 50% 50%;}
  100% {background-position: 50% 700%;}
}

.content .container .panel {
  position: relative;
  margin-top: 30px;
  float: left;
  display: block;
  min-height: 455px;
  width: 48.8%;
}

.content .container .extra-panel {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  float: left;
  display: block;
  min-height: 455px;
  width: 100%;
}

.pad {
  margin-right: 20px;
}

.search {
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
  /*border-radius: 0.3125em;
  border-left: 1px solid #dedfe2;
  border-right: 1px solid #dedfe2;
  border-bottom: 1px solid #D0D1D5;*/
}

.prices {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
  /*border-radius: 0.3125em;
  border-left: 1px solid #dedfe2;
  border-right: 1px solid #dedfe2;
  border-bottom: 1px solid #D0D1D5;*/
}

.filter {
  position: absolute;
  top: 15px;
  left: 80px;
}

.prices .item {
  display: inline-block;
  position: relative;
}

.prices .item:first-of-type .selector-button {
  -webkit-appearance: button;
  cursor: pointer;
  min-width: 58px;
  border-top-left-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
}

.prices .item:last-of-type .selector-button {
  -webkit-appearance: button;
  cursor: pointer;
  min-width: 58px;
  border-top-right-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
}

.prices .item .selector-button {
  -webkit-appearance: button;
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid transparent;
  color: #484c58;
  background-color: #edeef1;
  background-image: none;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

.prices .item .active .selector-button {
  background-color: #78C182;
  color: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

.results {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background: url("../images/kf3bg.jpg") no-repeat;
  background-size:100% auto;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.results .overlay {
  width: 100%;
  height: 100%;
  background: #4c5264;
  opacity: 0.85;
}

.movie-title {
  position: absolute;
  top:12px;
  left: 20px;
  color: #FFF;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
}

.cinema-title {
  position: absolute;
  top:18px;
  left: 0px;
  right: 0px;
  color: #FFF;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.time-title {
  position: absolute;
  top:12px;
  right: 20px;
  color: #FFF;
  font-weight: 600;
  font-size: 22px;
  text-align: right;
}


.list {
  display: block;
  position: relative;
  width: 100%;
  height: 520px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.transport {
  display: block;
  position: relative;
  width: 100%;
  height: 265px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.tabler {
  margin-left: auto;
  margin-right: auto;
  border: none;
  text-align: left;
  padding: 8px;
  margin-top: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 92%;
}

.tabler tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabler td {
  color: #4c5264;
  padding: 8px;
  line-height: 25px;
}

.tabler th {
  color: #474d5e;
  padding: 10px;
}

.movie {
  display: block;
  position: relative;
  width: 100%;
  height: 315px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.movie-data {
  top: -10px;
}

.synopsis {
  top: -10px;
  text-align: justify;
  font-weight: 400;
}

.poster {
  display: inline-block;
  margin: 20px;
}

.text-area {
  position: absolute;
  top: 0px;
  left: 120px;
}

.cinema {
  display: block;
  position: absolute;
  width: 100%;
  height: 315px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.map {
  display: block;
  position: absolute;
  width: 100%;
  height: 680px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.about {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  width: 50%;
  height: 440px;
  margin-bottom: 20px;
  background-color: #fff;
  text-align : justify;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 1px #E3E3E3;
}

.content .home-title {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  color: white;
  font-size: 49px;
  line-height: 1.08em;
  height: auto;
  letter-spacing: 0.025em;
  margin-top: 60px;
  text-align: center;
  text-transform: uppercase;
}

footer {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 673px;
}

footer .home-partners {
  float: left;
  display: block;
  margin-right: 2%;
  margin-top: 4px;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: top;
  color: #A3A5A8;
  text-align: left;
}

footer .container .partners {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  text-align: center;
}

footer .container .home-partners-logo {
  display: inline-block;
  /*height: 2.5em;*/
  opacity: 0.8;
  margin-right: 3%;
  margin-top: 8px;
}

/*
* Infinite Loader
*
* Author: Jonathan Silva
* Url: http://portfolio.jonathansilva.com.br
*
*/
/* ----- Base ----- */
/* ----- Loader ----- */
body {
  background-color: #eee;
}

.loader-wrapper {
  width: 148px;
  height: 100px;
  position: absolute;
  margin: -50px 0 0 -74px;
  left: 50%;
  top: 60%;
}

.loader {
  width: 148px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
}
.loader:after {
  content: "";
  top: auto;
  position: absolute;
  display: block;
  -webkit-animation: shadow 1.2s infinite linear;
  animation: shadow 1.2s infinite linear;
  -moz-animation: shadow 1.2s infinite linear;
  bottom: 0em;
  left: 0;
  height: .25em;
  width: 1em;
  border-radius: 50%;
  background-color: #4c5264;
  opacity: 0.3;
}

.roller,
.roller:last-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: rollercoaster 1.2s infinite linear;
  -webkit-transform: rotate(135deg);
  -moz-animation: rollercoaster 1.2s infinite linear;
  -moz-transform: rotate(135deg);
  -webkit-animation: rollercoaster 1.2s infinite linear;
  animation: rollercoaster 1.2s infinite linear;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.roller:last-child {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 1.2s infinite linear;
  -moz-transform: rotate(-45deg);
  -moz-animation: rollercoaster2 1.2s infinite linear;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 1.2s infinite linear;
  animation: rollercoaster2 1.2s infinite linear;
}

.roller:before,
.roller:last-child:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #4c5264;
  border-radius: 50%;
}

@-webkit-keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg);
  }
  8% {
    -webkit-transform: rotate(240deg);
  }
  20% {
    -webkit-transform: rotate(300deg);
  }
  40% {
    -webkit-transform: rotate(380deg);
  }
  45% {
    -webkit-transform: rotate(440deg);
  }
  50% {
    -webkit-transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(495deg);
    opacity: 0;
  }
}
@-webkit-keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
  }
  58% {
    -webkit-transform: rotate(-160deg);
  }
  70% {
    -webkit-transform: rotate(-240deg);
  }
  80% {
    -webkit-transform: rotate(-300deg);
  }
  90% {
    -webkit-transform: rotate(-340deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
  }
}
@-webkit-keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2);
  }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3);
  }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3;
  }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    opacity: 0.05;
  }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: translateX(60px);
    opacity: 0.3;
  }
}
/* Moz */
/* No-prefix */
@keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  8% {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  20% {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  40% {
    -webkit-transform: rotate(380deg);
    transform: rotate(380deg);
  }
  45% {
    -webkit-transform: rotate(440deg);
    transform: rotate(440deg);
  }
  50% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
    opacity: 0;
  }
}
@keyframes rollercoaster2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  58% {
    -webkit-transform: rotate(-160deg);
    transform: rotate(-160deg);
  }
  70% {
    -webkit-transform: rotate(-240deg);
    transform: rotate(-240deg);
  }
  80% {
    -webkit-transform: rotate(-300deg);
    transform: rotate(-300deg);
  }
  90% {
    -webkit-transform: rotate(-340deg);
    transform: rotate(-340deg);
  }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }
}
@keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5);
    transform: translateX(65px) scale(0.5, 0.5);
  }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2);
    transform: translateX(30px) scale(2, 2);
  }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3);
    transform: translateX(0px) scale(1.3, 1.3);
  }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3;
  }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    transform: translateX(130px) scale(2, 2);
    opacity: 0.05;
  }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2);
    transform: translateX(145px) scale(1.2, 1.2);
  }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1;
  }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8);
    transform: translateX(80px) scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0.3;
  }
}
#loader2:after {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#loader2 .roller {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#loader3:after {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#loader3 .roller {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.input-style {
  margin: 20px;
  display: block;
  box-sizing: content-box;
  padding: 10px 20px;
  width: 250px;
  height: 30px;
  border: none;
  font-size: 13px;
  border-radius: 4px;
  color: #4c5264;
}

.submit-style {
  margin: 20px;
  display: block;
  box-sizing: content-box;
  padding: 10px 20px;
  width: 250px;
  height: 30px;
  border: none;
  font-size: 13px;
  color: #FFF;
  background-color: #4c5264;
  cursor: pointer;
  border-radius: 4px;
}

.red-b {
  background-color: #f85050;
}

.right-zone {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 255px;
}

.left-zone {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 300px;
  margin-left: 7%;
}

.middle-zone {
  position: relative;
  display: inline-block;
  height: 300px;
  top: -105px;
}

.zone {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#zipcode {
  pointer-events: none;
  position: absolute;
  display: none;
}
